.container {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.container h2 {
  margin-bottom: 1em;
}

.footer_posts {
  display: flex;
  justify-content: space-between;
  gap: 2em;
}

.text_block {
  display: flex;
  flex-direction: column;
  gap: 0.75em;
}

.text_block p {
  line-height: 1rem;
}
