.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1em;
  margin-bottom: 1.5em;
  box-shadow: 0 1em 1em -1em rgba(0, 0, 0, 0.164);
}

.nav {
  display: flex;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  gap: 1em;
}

.header a h1 {
  color: black;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: 900;
  font-size: 2.5rem;
}
