.post {
  box-shadow: 0 1em 1em -1em rgba(0, 0, 0, 0.25);
}

.post h2 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 1.75rem;
}

.text_block {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.text_block p {
  line-height: 1rem;
}

.title {
  margin-bottom: 0.75em;
}

.authors {
  margin: 1.5em 0em;
  padding-bottom: 1em;
  font-style: italic;
  font-size: 0.85em;
}

.authors a {
  font-weight: 900;
}
